<!DOCTYPE html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Library{% endblock title %}</title>
    <link rel="icon" href="{% static 'qu-icon.png' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    {% include "includes/header.html" %}

    <!-- Display messages -->
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% block content %}{% endblock content %}

    {% include "includes/footer.html" %}
</body>
</html>
